<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
    <!-- jvm进程停止的钩子，jvm进行停止后会回调，这样logback可以比较好的进行善后处理 -->
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <!-- logback状态信息监听器,没啥用 -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <!-- 引入配置文件，进行环境区分使用 -->
    <property resource="local.properties"/>

    <!-- 定义局部变量，统一管理 -->
    <property name="STDOUT_ENCODER" value="%d [%p] [${spring.application.name:-},${env:-},%X{X-B3-TraceId:-},%X{X-B3-SpanId:-}] [%t] [%c] - %m%n"/>
    <property name="FILE_ENCODER" value="%d [%p] [${spring.application.name:-},${env:-},%X{X-B3-TraceId:-},%X{X-B3-SpanId:-}] [%t] [%c] - %m%n"/>
    <property name="MAX_HISTORY" value="3"/>
    <property name="MAX_FILE_SIZE" value="5KB"/>
    <property name="TOTAL_SIZE_CAP" value="20KB"/>

    <!-- 控制台打印 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${STDOUT_ENCODER}</pattern>
        </encoder>
    </appender>

    <!-- DEBUG -->
    <appender name="DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/debug/%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_ENCODER}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- INFO -->
    <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/info/%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_ENCODER}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- ERROR -->
    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/error/%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_ENCODER}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- WARN -->
    <appender name="WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/warn/%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_ENCODER}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- 按照表达式判断是否需要打印到控制台 -->
    <if condition='p("log.console.flag").equals("true")'>
        <then>
            <root level='${log.root.level}'>
                <appender-ref ref="CONSOLE"/>
            </root>
        </then>
    </if>
    <if condition='!p("log.console.flag").equals("true")'>
        <then>
            <root level='${log.root.level}'>
                <appender-ref ref="INFO"/>
                <appender-ref ref="ERROR"/>
                <appender-ref ref="WARN"/>
                <appender-ref ref="DEBUG"/>
            </root>
        </then>
    </if>

</configuration>
